<div style="background-color:#f3f3f3;font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:15px;color:#00101c;line-height:1.7;margin:0;padding:0">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;background-color:#f3f3f3;width:100%">
      <tbody>
        <tr>
          <td style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:16px;display:block;max-width:650px;width:650px;margin:0 auto">
            <div style="box-sizing:border-box;display:block;margin:0 auto;padding:40px 24px 24px;max-width:800px">
              <table role="presentation" style="border-collapse:collapse;background:#ffffff;width:100%;border-radius:2px">
                <tbody>
                  <tr>
                    <td style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:16px;box-sizing:border-box;padding:40px 48px 0">
                      <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:100%">
                        <tbody>
                          <tr>
                            <td style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:16px">
                              <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:100%;margin-bottom:24px;line-height:24px">
                                <tbody>
                                  <tr>
                                    <td style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:16px;vertical-align:top;min-width:88px;width:30%">
                                      <img src="https://lh3.googleusercontent.com/a/ACg8ocIADl6Cgot-q_s0rjO_iVPTlw8Rq0kTS0laW-YQMtUdew=s360-c-no" width="35" height="35" alt="logo-vavshop.png" style="border:none;max-width:100%;width:52px;height:52px;display:block" class="CToWUd" data-bit="iit">
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <h1 style="color:#00101c;margin:0 0 24px;font-size:40px;font-weight:900;letter-spacing:-0.01em;line-height:1.15;margin-bottom:40px">
                                One Time Password(OTP) - Reset Password</h1>
                              <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:100%">
                                <tbody>
                                  <tr>
                                    <td style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:16px">
                                      <p style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:16px;font-weight:400;margin:0;line-height:1.7;padding:0;color:#00101c;margin-bottom:24px">
                                        Xin Chào {{FullName}}
                                      </p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:16px">
                                      <p style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:16px;font-weight:400;margin:0;line-height:1.7;padding:0;color:#00101c;margin-bottom:24px">
                                        This Mail is sent with the help of <a href="http://localhost:3000">two-step-auth
                                          created by VAVShop</a>
                                      </p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:16px">
                                      <p style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:18px;font-weight:400;margin:0;line-height:1.7;padding:0;color:#00101c;margin-bottom:24px;font-weight: 600;">
                                        Please enter the below mentioned OTP for reset password
                                      </p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:16px">
                                      <p style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:28px;font-weight:400;margin:0;line-height:1.7;padding:0;color:#00101c;margin-bottom:24px">
                                        {{OTP}}
                                      </p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:16px">
                                      <p style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:16px;font-weight:400;margin:0;line-height:1.7;padding:0;color:#00101c;margin-bottom:24px">
                                        For security reasons this link will only be active for 1 minutes. </p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:100%;margin-top:24px">
                                <tbody>
                                  <tr>
                                    <td width="80" height="1" style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:16px;background:#eaeaea;height:1px;width:80px">
                                    </td>
                                    <td style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:16px">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan="2" style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-size:16px;padding:24px 0">
                                      <p style="font-family:-apple-system,system-ui,blinkmacsystemfont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;font-weight:400;line-height:1.7;padding:0;color:#00101c;font-size:16px;margin:0">
                                        Any questions?
                                      </p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>